body {
    margin: 0;
    background-image: url(./images/Basketball2.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    
}

.app {
    height: 400px;
    width: 500px;
    background-color: lightblue;
    display: inline-block;
    background-image: url(./images/basketball.jpg);
    background-size: cover;
    background-position: center;
}
.question-section {
   font-size: 40px;
   font-family: 'Rubik', sans-serif;

}
button {
    font-size: 24px;
    background-color: aquamarine;
    display: block;
    margin:10px;
    margin-left: 100px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
    pointer-events: all;
}

.score-section {
  display: block;
  font-size: 45px;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  border-style: dashed;
   border: 2px solid;
  border-radius: 5px;
  
}










